<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Document</title>
    <link href="/src/main/resources/static/CSS/output.css" rel="stylesheet">
</head>
<body class="bg-slate-700">
    <h1 data-th-text="${name} " class="bg-slate-400" >Welcom to home page </h1>
    <h2 data-th-text="${age}" class="bg-slate-600">who are you</h2>
    <h3 data-th-text="${city} " class="bg-black"></h3>
    <p class="bg-slate-500 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, cum! Iusto unde quo, ullam praesentium ut illum officia libero voluptatem, quibusdam enim et velit quia.</p>
</body>
</html>