<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>Kratos</title>
</head>
<body>
 <h1  class=" bg-slate-950 font-mono text-pink-400 py-10 px-10">Who the hell are you </h1>
 <p class=" bg-black text-white h-16 block mx-12 my-10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente ipsam obcaecati minima tempore ipsa. Sint doloremque magnam odit accusantium iste?</p>
    <p class="bg-gray-900 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit cumque sapiente, iure cum facere vel laudantium officiis atque numquam assumenda quia esse fugit quisquam perspiciatis.</p>
</body>
</html>