<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <h1>This is services page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nihil doloribus cumque possimus obcaecati, perspiciatis, aliquid numquam labore, fugit assumenda voluptatem. Ut aliquid voluptate maiores.</p>
    <div th:replace="${loggedin}? ~{base :: parent(~{::#loggin})} : ~{base ::parnet2(~{::#logout})}">   
        <section id="loggin">
            <h1>Ths is Dynamic xzcsection passed from services </h1>
            <h2>You are currnetly log in to Services</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sequi alias illo voluptatum quod nulla cum magnam rem vitae dolore sapiente, quia unde deserunt omnis?
            </p>
            <button>This is a button</button>
        </section>
        <section id="logout">
            <h1>You have been logged out !</h1>
        </section>
    </div>

</body>
</html>